.desc{
    margin: 10px 20px;
}

.desc h2{
    text-align: center;
}
.desc div{
    margin-top: 20px;
}
.desc div h4{
    margin-bottom: 10px;
}

.desc div p{
    text-indent:2em;
    color: rgb(95, 93, 93);
}

.part2 ul{
    margin:0 0 20px 20px;
    color: rgb(95, 93, 93);
}

.part2 table{
    margin: auto;
}

.part2 table{
    width: 90%;
    border: 1px solid black;
    text-align: center;
}
th,td{
    height: 65px;
    border: 1px solid black;
}